* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

.navbar {
    
    background-color:rgb(251, 187, 63, 100);
    height: 100px;
    margin: 0 auto;
    
}

.navbar h1{
    padding-top:30px;
    margin-left:30px;
}

.hamburger-ico{
    display: inline-block;
    float: right;
    
}

.container-site {
    max-width: 1200px;
    margin: 0 auto;
}

.main-page{
    background-color: whitesmoke;
    height: 680px;
}

.burger-name {
    color: slategrey;
    padding-top: 50px;
    margin-left:50px;
}

.ingredients-title{
    margin-top: 40px;
    margin-left:50px;
}


.ingredients{
   
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin-top:30px;
   margin-left: 30px;
   
  
}

.ingredients img{
width: 10%;
}

.ingredients label, .ingredients input{
    font-size: 15px;
    margin-bottom:40px;
   
}

.discount{
    margin-top:60px;
    margin-left:50px;
}

.calculate-button{
    margin-top:30px;
    margin-left:50px;
}

.calculate-button button{
    background-color: rgb(241, 100, 75);
    color: white;
    font-size:14px;
    height: 40px;
    width: 80px;
    border-radius: 20px;
}

footer{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    background-color: rgb(223, 49, 92);
    height: 100px;
}

.your-price{
    padding-left:30px;
    padding-top:40px;
    font-size: 30px;
    color: white;
}

.total-price{
    padding-top:40px;
    font-size: 30px;
    color: white;
    
}

